@model IEnumerable<MyClass.Model.Banner>

@{
    ViewBag.Title = "Thùng rác danh mục đã xóa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger">
                       Thùng Rác Banner
                    </strong>
                </div>
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Index","Banner")" class="btn btn-sm btn-info">
                    <i class="fas fa fa-arrow-circle-left"></i> Quay về</a>
                    
                </div>
            </div>

        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <td style="width:20px;" class="text-center">#</td>
                    <td style="width:20px;" class="text-center">Mã</td>
                    <td style="width:20px;" class="text-center">Tên Banner</td>
                    <td style="width:20px;" class="text-center">Hình Ảnh</td>
                    <td style="width:20px;" class="text-center">Vị Trí</td>
                    <td style="width:160px;" class="text-center">Ngày Tạo</td>
                    <td style="width:200px;" class="text-center">Chức Năng</td>

                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <input type="checkbox" />
                        </td>
                        <td class="text-center">@item.Id</td>
                        <td class="text-center">@item.Name</td>
                        <td>
                            <img src="~/Public/images/@item.Img" class="img-fluid" />
                        </td>
                        <td class="text-center">@item.Position</td>
                        <td class="text-center">@item.CreatedBy_At</td>
                        <td class="text-center">
                            @*@if (item.Status == 1)
            {
                <a href="@Url.Action("Edit","Banner", new {id=item.Id})" class="btn btn-sm btn-success"><i class="fas fa-toggle-on"></i></a>
            }
            else
            {
                <a href="@Url.Action("Edit","Banner", new {id=item.Id})" class="btn btn-sm btn-danger"><i class="fas fa-toggle-off"></i></a>
            }*@


                            <a href="@Url.Action("Restore","Banner", new { id=item.Id })" class="btn btn-sm btn-info"><i class="fas fa-undo"></i> Phục hồi</a>
                            <a href="@Url.Action("Destroy","Banner", new {id=item.Id})" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Xóa</a>
                        </td>

                    </tr>
                }
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer text-right">
            <a href="@Url.Action("Index","Banner")" class="btn btn-sm btn-info">
                <i class="fas fa fa-arrow-circle-left"></i> Quay về
            </a>
        </div>
        <!-- /.card-footer-->
    </div>


</section>
