@model MyClass.Model.Post

@{
    ViewBag.Title = "Xoa Bài Viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h3>Bạn có chắc chắn muốn xóa cái này không?</h3>

<h4>Banner</h4>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger">
                        Xóa Bài Viết
                    </strong>
                </div>
                <div class="col-md-6 text-right">
                    @*<a href="@Url.Action("Edit","Posts")" class="btn btn-sm btn-success"><i class="fas fa-tools"></i> Sửa</a>*@
                    <a href="@Url.Action("Index","Posts")" class="btn btn-sm btn-success">
                        <i class="fas fa fa-arrow-circle-left"></i> Quay lại
                    </a>
                </div>

                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:20px;" class="text-center">#</th>
                                <th style="width:20px;" class="text-center">Mã</th>
                                <th style="width:200px;" class="text-center">Tiêu Đề</th>
                                <th style="width:20px;" class="text-center">Hình</th>
                                <th style="width:200px;" class="text-center">Chi tiết</th>

                                <th style="width:40px;" class="text-center">Ngày Tạo</th>
                                <th style="width:40px;" class="text-center">Ngày Cập Nhật</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <input type="checkbox" />
                                </td>
                                <td class="text-center">@Model.Id</td>
                                <td>
                                    @Html.DisplayFor(model => model.Title)
                                </td>
                                <td>
                                    <img width="100" height="100" src="~/Public/images/@Model.Img" class="img-fluid" />
                                </td>


                                <td>
                                    @Html.DisplayFor(model => model.Detail)
                                </td>

                               
                                <td>
                                    @Html.DisplayFor(model => model.CreatedBy_At)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(model => model.UpdatedAt)
                                </td>
                               

                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>
        </div>

    </div>

</section>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Quay Lại", "Index")
    </div>
}