@model MyClass.Model.Menu

@{
    ViewBag.Title = "Câp Nhật Menu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Cập Nhật</h2>

@using (Html.BeginForm("Edit", "Menu", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreatedBy_At)
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger">
                            Cập Nhật Menu
                        </strong>
                    </div>

                    <div class="col-md-6 text-right">
                        <button class="btn btn-success btn-sm " type="submit"><i class="fas fa-save"></i> Lưu</button>
                        <a href="@Url.Action("Index","Menu")" class="btn btn-sm btn-success">
                            <i class="fas fa fa-arrow-circle-left"></i> Quay lại
                        </a>

                    </div>
                </div>

            </div>

            <div class="card-body">
                @Html.Partial("Messege")
                <div class="row">
                    <div class="col-md-9">
                        <div class="mb-3">
                            <label for="">Tên Menu</label>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="">Chức vụ</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Position,
                               new[] {new SelectListItem { Text="Chưa xuất bản", Value="2"},
                               new SelectListItem { Text = "Mainmenu", Value = "mainmenu" } },
                               null,
                               new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })

                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Danh Mục</label>
                            @Html.DropDownListFor(model => model.ParentId, (SelectList)ViewBag.ListCatId, "-- Chọn danh mục --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label for="">Thứ Tự</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Orders, (SelectList)ViewBag.ListOrder, "-- Sắp xếp theo thứ tự --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Orders, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Trạng thái</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Status,
                               new[] {new SelectListItem { Text="Chưa xuất bản", Value="2"},
                               new SelectListItem { Text = "Xuất bản", Value = "1" } },
                               null,
                               new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-success btn-sm " type="submit"><i class="fas fa-save"></i> Lưu</button>
                    <a href="@Url.Action("Index","Banner")" class="btn btn-sm btn-success">
                        <i class="fas fa fa-arrow-circle-left"></i> Quay lại
                    </a>

                </div>
            </div>
        </div>
    </section>

}

