<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Page.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="~/Public/tem/js/jquery-3.2.1.min.js"></script>
   
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Public/tem/styles/responsive.css" rel="stylesheet" />


    <link rel="stylesheet" type="text/css" href="~/Public/tem/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Public/tem/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Public/tem/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Public/tem/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Public/tem/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Public/tem/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">

    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    @RenderSection("header", required: false)
</head>

<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header trans_300">

            <!-- Top Navigation -->

            <div class="top_nav">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="top_nav_left">Email: renlotlong@gmail.com</div>
                        </div>

                        <div class="col-md-6 text-right">
                            <div class="top_nav_right">

                                <ul class="top_nav_menu">

                                    <!-- Currency / Language / My Account -->

                                    <li class="currency">
                                        <a href="#">
                                            usd
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="currency_selection">
                                            <li><a href="#">cad</a></li>
                                            <li><a href="#">aud</a></li>
                                            <li><a href="#">eur</a></li>
                                            <li><a href="#">gbp</a></li>
                                        </ul>
                                    </li>
                                    <li class="language">
                                        <a href="#">
                                            English
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="language_selection">
                                            <li><a href="#">French</a></li>
                                            <li><a href="#">Italian</a></li>
                                            <li><a href="#">German</a></li>
                                            <li><a href="#">Spanish</a></li>
                                        </ul>
                                    </li>
                                    <li class="account">
                                        @if (Session["FullName"] != null)
                                        {
                                            <a href="#">
                                                <p> @Session["FullName"].ToString()</p>


                                            </a>
                                            <ul class="account_selection">
                                                @*<li><a href="/"><i class="fa fa-sign-in" aria-hidden="true"></i>Profile</a></li>*@
                                                <li>
                                                    <a href="/admin">
                                                        <p>Admin</p>
                                                    </a>


                                                    <a href="@Url.Action("Logout","Site")" class="btn btn-warning">Logout</a>
                                                </li>
                                            </ul>
                                        }
                                        else
                                        {


                                            /////
                                            <a href="#">
                                                My Account
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="account_selection">
                                                <li><a href="~/Site/Login"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                                                <li><a href="~/Site/Register"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                                            </ul>
                                        }


                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->
            <div class="main_nav_container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <div class="logo_container">
                                <a href="/">ÁoDài<span>ViệtNam</span></a>

                                <form action="@Url.Action("Seach","Site")" class="search-header" name="Tìm Kiếm">
                                    <div class="form-group form-inline">
                                        <input placeholder="Nhập từ khóa tìm Kiếm" type="text" name="key" class="form-control" />
                                        <input type="submit" name="submit" value="Tìm Kiếm" class="form-control" />
                                    </div>
                                </form>


                            </div>
                            <nav class="navbar">
                                @Html.Action("MainMenu", "Module")
                                <ul class="navbar_user">
                                    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    <li class="checkout">
                                        <a href="/gio-hang">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span id="checkout_items" class="checkout_items">0</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="hamburger_container">
                                    <i class="fa fa-bars" aria-hidden="true"></i>

                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>



        <!-- Slider -->
        @*<div class="main_slider" style="background-image: url(Public/tem/images/slider_1.jpg)">

                <div class="container fill_height">
                    <div class="row align-items-center fill_height">
                        <div class="col">
                            <div class="main_slider_content">
                                <h6>Spring / Summer Collection 2017</h6>
                                <h1>Get up to 30% Off New Arrivals</h1>
                                <div class="red_button shop_now_button"><a href="#">shop now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@



        <!-- Footer -->

        <section class="maincontent">
            @RenderBody()
        </section>
        <!-- Blogs -->
        <!-- Newsletter -->



        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                            <ul class="footer_nav">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer_nav_container">
                            <div class="cr">©2018 All Rights Reserverd. Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Colorlib</a> &amp; distributed by <a href="https://themewagon.com">ThemeWagon</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    @*<link href="~/Public/tem/styles/single_styles.css" rel="stylesheet" />*@



    <script src="~/Public/tem/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

    <script src="~/Public/tem/styles/bootstrap4/popper.js"></script> 
    <script src="~/Public/tem/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Public/tem/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Public/tem/js/custom.js"></script>
    <script src="~/Public/tem/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Public/tem/plugins/easing/easing.js"></script>


    <script src="~/Scripts/jsShopping2.js"></script>





    @RenderSection("footer", required: false)
    @RenderSection("scripts", required: false)

</body>

</html>

















