@model IEnumerable<MyClass.Model.Brand>

@{
    ViewBag.Title = " Danh Sách Danh Mục Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger">
                        Danh Mục Sản Phẩm
                    </strong>
                </div>
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Create","Brand")" class="btn btn-sm btn-success"><i class="fas fa-plus-circle"></i> Thêm Mới</a>
                    <a href="@Url.Action("Trash","Brand")" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Thùng Rác</a>
                </div>
            </div>

        </div>
        <div class="card-body">
          @Html.Partial("Messege")
            <table class="table table-bordered">
                <tr>
                    <th style="width:20px;" class="text-center">#</th>
                    <th style="width:40px;" class="text-center">Tên Thương Hiệu</th>
                    <th style="width:20px;" class="text-center">Hình</th>
                    <th style="width:40px;" class="text-center">Slug</th>
                    <th style="width:10px;" class="text-center">Số Điện Thoại</th>
                    <th style="width:20px;" class="text-center">Địa Chỉ</th>
                    <th style="width:5px;" class="text-center">Email</th>
                    <th style="width:40px;" class="text-center">Ngày Tạo</th>
                    <th style="width:200px;" class="text-center">Chức Năng</th>
                    <th style="width:20px;" class="text-center">Mã</th>
                </tr>
                @foreach (var item in Model)
                {
                   
                    <tr>

                        <td class="text-center">
                            <input type="checkbox" />
                        </td>
                        <td class="text-center">@item.Name</td>
                        
                        <td>
                            <img src="~/Public/images/@item.Img" class="img-fluid" />
                        </td>
                        <td class="text-center">@item.Slug</td>
                        <td class="text-center">@item.Phone</td>
                        <td style="width:20px;" class="text-center">@item.Address</td>
                        <td style="width:5px;" class="text-center">@item.Email</td>
                        <td class="text-center">@item.CreatedBy_At</td>
                        <td class="text-center">
                            @if (item.Status == 1)
                            {
                                <a href="@Url.Action("Status","Brand", new {id=item.Id})" class="btn btn-sm btn-success"><i class="fas fa-toggle-on"></i></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Status","Brand", new {id=item.Id})" class="btn btn-sm btn-danger"><i class="fas fa-toggle-off"></i></a>
                            }

                            <a href="@Url.Action("Edit","Brand", new {id=item.Id})" class="btn btn-sm btn-success"><i class="fas fa-tools"></i> Sửa</a>
                            <a href="@Url.Action("Details","Brand", new { id=item.Id })" class="btn btn-sm btn-info"><i class="fas fa-eye"></i> Chi tiết</a>
                            <a href="@Url.Action("Delete","Brand", new {id=item.Id})" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i> Xóa
                            </a>
                        </td>
                        <td class="text-center">@item.Id</td>
                    </tr>
                }
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer text-right">
            <a href="@Url.Action("Create","Brand")" class="btn btn-sm btn-success"><i class="fas fa-plus-circle"></i> Thêm Mới</a>
            <a href="@Url.Action("Trash","Brand")" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Thùng Rác</a>
        </div>
        <!-- /.card-footer-->
    </div>


</section>
